@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Home Page";
}

<style>
    .box-shadow {
        box-shadow: 0px 0px 7px rgba(128, 128, 128, 0.5 );
    }

    .row-margin {
        margin-top: 40px;
    }

    .health-card {
        padding-top: 60px;
        padding-bottom: 20px;
        text-align: left;
    }
</style>

@if (SignInManager.IsSignedIn(User))
{
<div class="row">
    <div class="col-md-12 text-center row-margin">
        <div class="col-md-offset-1 col-md-3">
            <div class="health-card">
                <h4>Client Resources</h4>
                <p>Manage Client Resource - register clients that will have their Access tokens managed by Sense IdentityServer. You can create clients, edit and delete exsting clients.</p>
                <p><a class="btn btn-primary" href="Clients" role="button">View &raquo;</a></p>
            </div>
        </div>

        <div class="col-md-offset-1 col-md-3">
            <div class="health-card">
                <h4>Users</h4>
                <p>Manage Users - controller and set up and their level of access. You can add users, edit existing details and update their roles.</p>
                <p><a class="btn btn-primary" href="Account" role="button">View &raquo;</a></p>
            </div>
        </div>
    </div>

    <div class="col-md-12 text-center row-margin">

        <div class="col-md-offset-2 col-md-4">

        </div>
    </div>
</div>
}
else{
    <div class="row">
        <div class="col-md-12 text-center row-margin">
            <div class="health-card">
                <h4>Welcome</h4>
                <p>Please sign in or register to create an account</p>
            </div>
        </div>
    </div>
}
